@import url("vendor/normalize.css");

@font-face {
  font-family: grayscale;
  font-style: normal;
  src: url("../fonts/grayscale.ttf");
}

@font-face {
  font-family: 'destroyed';
  font-style: normal;
  src: url("../fonts/destroyed.ttf");
}

@font-face {
  font-family: 'monosten';
  font-style: normal;
  src: url(../fonts/Monosten-B.ttf);
}

html {
  font-family: 'Monosten';
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  font-size: 18pt;
}
.pc{
  display: inline-block;
  font-family: grayscale;
}

.mobile{
  display: none;
  font-family: grayscale;
}

.destroyed {
  font-family: destroyed;
}
.normal{
  font-family: grayscale;
}

@media(max-width:60em){
  html{
    font-size: 90%
  }
  .normal{
    font-family: 'Monosten';
    font-size: 80%;
  }
  .mobile{

    display: inline-block;
  }
  .pc{
    font-size: 80%;
    display: none;
  }
}



/*

  SAFE BELOW HERE

*/


body {
  background: #fff;
}

#container {
  margin: 0;
  padding: 0;
  background: #fff;
  justify-content: center;
  align-items: center;

}

#container #head {
  display: flex;
  background: rgba(255,255,255,0);
  justify-content: center;
}

#menu-container {
  opacity: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
}

#menu {
  background: #fff;
  display: flex;
  max-width: 70em;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#menu #dropdown {
  color: #888;
  width: 100%;
  padding-left: 1em;
  text-align: left;
}

#menu #title {
  color: #888;
  width: 100%;
  padding-right: 1em;
  text-align: right;
}

#menu-content{
  font-size: 1.61803398875em;
}

#fade{
  background: -moz-radial-gradient(center, ellipse cover,  hsla(0,0%,0%,0.65) 0%, hsla(0,0%,0%,0) 74%, hsla(0,0%,0%,0) 99%);
  background: -webkit-radial-gradient(center, ellipse cover,  hsla(0,0%,0%,0.65) 0%,hsla(0,0%,0%,0) 74%,hsla(0,0%,0%,0) 99%);
  background: radial-gradient(ellipse at center,  hsla(0,0%,0%,0.65) 0%,hsla(0,0%,0%,0) 74%,hsla(0,0%,0%,0) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

  top:-2em;
  min-height: 0.2em;
  width: 100%;
  display: flex;
  position: static;
  transform: translate(0, -100%);
}


#startpage {
  opacity: 0.99;
  position: static;
  background: #fff;
  min-height: 100vh;
  display: flex;
}

#startpage #hide-thing {
  z-index: 20;
  position: absolute;
  background: #fff;
  height: 35%;
  min-width: 100%;
  /*overflow-x: hidden;*/
}

#startpage #grayscale-container {
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100%;
  width: 100%;
}


#startpage #grayscale-container iframe {
  /*position: absolute;*/
  /*z-index: -1;*/
  overflow: auto;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-width: 100vw;
  height: 100%;
  border: none;
  background: #fff;
  overflow-x: hidden;
}

#grayscale-container #grayscale-thing {
  /*position: absolute;*/
  /*z-index: -1;*/
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: none;
  background: #fff;
}

#down{
  justify-content: center;
  /*align-items: center;*/
  display: flex;
  position: absolute;
  z-index: 300;
  height: 100%;
  width: 100vw;
  top:75%;
  color: #ddd;
}
#down span.destroyed{
  height: 1em;
  padding: 1em 1em 1em 1em;
  transition: color 1s;
  -webkit-transition: color 1s;
/*  border-top: 1px solid;
  border-bottom: 1px solid;*/
}
#down span.destroyed:hover{
  color: black;
  transition: color 1s;
}

#container #content {
  padding: 0 1em 0 1em;
  max-width: 35em;
  margin: 0 auto;
}

#container #content #section {
  /*min-height: 80vh;*/
  width: 100%;
}

#container #content .about {
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: left;
  background: #fff;
  color: rgb(35,35,35);
  width: 100%;
}

#container #content .about #section-content {
  /*max-width: 30em;*/
  /*text-align: justify;*/
  align-items: center;
  align-items: center;
  margin: 0 auto;
}

#container #content .about #section-content h1 {
  font-size: 1.5rem;
}

#container #content .about #section-content a {
  line-height: 0.7px;
  text-decoration: none;
  color: #666;
}

#container #content .about #section-content a:hover {
  color: #999;
}

#container #content .gallery {
  /*padding-top: 5em;*/
  width: 100%;
  height: 100%;
  background: #fff;
  color: rgb(35,35,35);
}

#container #content .gallery #vimeo {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#container #content .gallery #vimeo iframe.vimeo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container #content .event {
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background: #fff;
  color: rgb(35,35,35);
  display: inline-block;
}

#container #content .event iframe.eventbrite {
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}



#footer {
  align-items: center;
  justify-content: center;
  background: #fff;
  display: relative;
  width: 100%;
  height: 2em;
}

.me{
  text-decoration: none;
  float: left;
  color: #000;
}
#footer .fb-like {
  display: relative;
  float: right;
}