@import url("vendor/normalize.css");

@font-face {
  font-family: grayscale;
  font-style: normal;
  src: url("../fonts/grayscale.ttf");
}

@font-face {
  font-family: 'monosten';
  font-style: normal;
  src: url(../fonts/Monosten-B.ttf);
}

html {
  font-family: 'Monosten';
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  font-size: 18pt;
}

@media(max-width:60em){html{font-size: 90%}}

/*

  SAFE BELOW HERE

*/


body {
  background: #fff;
}

#container {
  margin: 0;
  padding: 0;
  background: #fff;

}

#container #head {
  background: rgba(255,255,255,0);
}

#container #head #startpage {
  opacity: 0.99;
  position: static;
  background: #fff;
  min-height: 100vh;
  display: flex;
}

#container #head #startpage #hide-thing {
  z-index: 20;
  position: absolute;
  background: #fff;
  height: 35%;
  min-width: 100%;
}

#container #head #startpage #grayscale-container {
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100%;
  width: 100%;
}


#container #head #startpage #grayscale-container iframe {
  /*position: absolute;*/
  /*z-index: -1;*/
  overflow: auto;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  border: none;
  background: #fff;
  overflow-x: hidden;
}

#container #head #startpage #grayscale-container #grayscale-thing {
  /*position: absolute;*/
  /*z-index: -1;*/
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: none;
  background: #fff;
}

#container #head #menu {
  background: #fff;
  opacity: 0;
  color: rgb(35,35,35);
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 20;
}

#container #head #menu h1 {
  padding: 0 1em 0 1em;
  font-size: 6vw;
  height: 16pt;
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 100%;
  font-family: grayscale;
}

#container #content {
  padding: 0 1em 0 1em;
  max-width: 35em;
  margin: 0 auto;
}

#container #content #section {
  /*min-height: 80vh;*/
  width: 100%;
}

#container #content .about {
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: left;
  background: #fff;
  color: rgb(35,35,35);
  width: 100%;
}

#container #content .about #section-content {
  /*max-width: 30em;*/
  /*text-align: justify;*/
  align-items: center;
  align-items: center;
  margin: 0 auto;
}

#container #content .about #section-content h1 {
  font-size: 1.5rem;
}

#container #content .about #section-content a {
  line-height: 0.7px;
  text-decoration: none;
  color: #666;
}

#container #content .about #section-content a:hover {
  color: #999;
}

#container #content .gallery {
  /*padding-top: 5em;*/
  width: 100%;
  height: 100%;
  background: #fff;
  color: rgb(35,35,35);
}

#container #content .gallery #vimeo {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#container #content .gallery #vimeo iframe.vimeo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container #content .event {
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background: #fff;
  color: rgb(35,35,35);
  display: inline-block;
}

#container #content .event iframe.eventbrite {
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}



#footer {
  align-items: center;
  justify-content: center;
  background: #fff;
  display: relative;
  width: 100%;
  height: 2em;
}

.me{
  text-decoration: none;
  float: left;
  color: #000;
}
#footer .fb-like {
  display: relative;
  float: right;
}