//@import 'normalize'
html
	height 100%
	#startpage
		min-height 100%
		margin 0
		display flex
		justify-content center
		
		align-items center

	#content	
		width 100%
		.first-section
			min-height 100%
			background rgb(100,100,100)
		.second-section
			min-height 100%
			background #456712
		.third-sec
			min-height 100%