#startpage .p5Container {
  height: 100%;
}
#content {
  width: 100%;
}
.first-section {
  min-height: 100%;
  background: #646464;
}
.second-section {
  min-height: 100%;
  background: #456712;
}
.third-sec {
  min-height: 100%;
}
