html {
  height: 100%;
}
html #startpage {
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
html #content {
  width: 100%;
}
html #content .first-section {
  min-height: 100%;
  background: #646464;
}
html #content .second-section {
  min-height: 100%;
  background: #456712;
}
html #content .third-sec {
  min-height: 100%;
}
