doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
  html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title GRAYSCALE
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .p5Container
	    script(src='js/vendor/p5.min.js')
	    script(src='js/main.js')