doctype html
html(lang = "eng")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='css/index.css')
        script(src='js/vendor/p5.dom.js')
        script(src='js/vendor/p5.min.js')
        script(src='js/load.js')
        title GRAYSCALE
        meta(name='description', content='')
        //- meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        #startPage
                

        #content

            .first-section
                p hey man, what's up?
            .second-section

            .third-sec

        #footer
