doctype html
html(lang = "eng")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='css/index.css')
        script(src='js/vendor/p5.dom.js')
        script(src='js/vendor/p5.min.js')
        script(src='js/load.js')
        title GRAYSCALE
        meta(name='description', content='')
        //- meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        #head
            #startpage
                #greyscale-thing

            #menu
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link about

                        li.menu__item
                            a.menu__link visual

                        li.menu__item
                            a.menu__link aural

                        li.menu__item
                            a.menu__link events

        #content
            #first-section
                h1.
                    ABOUT

                p.
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet lorem ante, vitae convallis lectus vestibulum vel. Aliquam vel mauris augue. Proin quis vehicula nisi, sit amet auctor nisl. Phasellus nec eros et nisi porta euismod. Cras facilisis lectus vitae nisl convallis eleifend. Mauris facilisis a metus eget elementum. Vivamus in leo tincidunt, viverra metus eu, tincidunt nisi. Nunc pretium velit felis, ut ultrices velit eleifend ac.
                
            #second-section
            #third-section
        #footer
