doctype html
html(lang = "eng")
    head
        title GRAYSCALE
        meta(name='description', content='')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='css/index.css')
        script(src='js/vendor/p5.dom.js')
        script(src='js/vendor/p5.min.js')
        script(src='js/load.js')
        script(src='js/vendor/jquery-1.11.2.min.js')
        script(src='js/scrollfade.js')
        //- script(src='js/me.js')
        //- script(src='js/menuhide.js')
    body
        #fb-root
                script.
                  (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1013695032082288";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));

        #container
            #head.nav-down
                
                #menu
                    h1.
                        grayscale

                #startpage

                    #grayscale-container
                        //- iframe(src="https://www.openprocessing.org/sketch/407987")

            #content
                #section.about
                    #section-content
                        h1.
                            ABOUT

                        p.
                            
                            Grayscale is a new series of events that aims to highlight audio-visual art in Ireland. The first event will take place in the Pillar Room, an ornate 18th century function room beneath the Rotunda Hospital in Dublin, on the 11th of March 2017.
                        p.
                            #[a(href="http://www.clucluclu.xyz") CLU] is an audio-visual collaboration between Kevin Freeney and Sean Cooley. Based in Dublin, the pair have been working together at home and abroad for the past 5 years. They present an innovative mix of boundary-blurring music and cutting-edge visual performance.
                        p.
                            #[a(href="https://soundcloud.com/mrmitchmusic") Mr. Mitch] [#[a(href="http://gobstopper-records.co.uk") Gobstopper]] is a highly respected producer and DJ hailing from London. Over the past 7 years he has been consistently pushing the boundaries of instrumental electronic music, and Boxed, the monthly club night he co-founded in 2012, has become a flashpoint for forward-thinking, open-minded music lovers.
                        p.
                            #[a(href="http://www.rachelnoble.com") Rachel Noble] is a freelance visual artist living and working in London, often finding herself involved in the underground music scene.  
                                                
                #section.gallery
                    #vimeo
                        iframe.vimeo(src='https://player.vimeo.com/video/206395986?color=999&title=0&byline=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                #section.event
                    iframe.eventbrite(src='//eventbrite.ie/tickets-external?eid=32070865823&ref=etckt', frameborder='0', height='360', width='100%', vspace='0', hspace='0', marginheight='5', marginwidth='5', scrolling='auto', allowtransparency='true')

            #footer
                a.me(href="https://github.com/twinpixels") deadly buzz

                .fb-like(data-href='https://www.facebook.com/grayscaledublin/', data-colorscheme='dark', data-layout='button_count', data-action='like', data-size='small', data-show-faces='false', data-share='true')

