doctype html
html(lang = "eng")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='css/index.css')
        script(src='js/vendor/p5.dom.js')
        script(src='js/vendor/p5.min.js')
        script(src='js/load.js')
        title GRAYSCALE
        meta(name='description', content='')
        //- meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        #head
            #startpage
                #greyscale-thing

            #menu
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link gray

                        li.menu__item
                            a.menu__link scal

                        li.menu__item
                            a.menu__link esgr

                        li.menu__item
                            a.menu__link aleg

        #content
            #first-section
                p.
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet lorem ante, vitae convallis lectus vestibulum vel. Aliquam vel mauris augue. Proin quis vehicula nisi, sit amet auctor nisl. Phasellus nec eros et nisi porta euismod. Cras facilisis lectus vitae nisl convallis eleifend. Mauris facilisis a metus eget elementum. Vivamus in leo tincidunt, viverra metus eu, tincidunt nisi. Nunc pretium velit felis, ut ultrices velit eleifend ac.
                p.
                    Nam efficitur diam pretium dolor dictum dapibus. Nulla interdum massa urna, et rhoncus neque dignissim porta. In at dignissim augue, eu ultricies ex. Integer dapibus ipsum felis, pretium euismod justo convallis at. Nunc eu tortor vitae ante eleifend dictum. Sed vitae nisl diam. Nam ut tempor risus. Integer elementum purus eget aliquet rhoncus. Etiam laoreet dolor eget urna gravida, at pellentesque felis tincidunt. Sed rhoncus lorem eu libero volutpat, vel hendrerit mi euismod. Mauris id mi ante. Duis et pretium dolor. Aliquam lorem mauris, hendrerit quis feugiat a, interdum eu ipsum. Pellentesque auctor, risus quis consequat finibus, urna odio finibus purus, sagittis pulvinar tellus nulla sit amet neque. Pellentesque dui libero, dapibus ut blandit vel, iaculis et lorem.
                p.
                    Suspendisse aliquet vulputate sem ut fermentum. Suspendisse eget purus metus. Etiam interdum lacinia elit, sit amet imperdiet mi dictum ac. Cras vulputate, metus non hendrerit laoreet, tortor nibh eleifend dui, nec varius leo nulla fringilla metus. In fermentum nec nulla vel fermentum. Maecenas lorem ex, blandit ut erat eget, maximus sodales ligula. Donec vitae nisi ac ligula scelerisque aliquam. Suspendisse facilisis ac tellus id varius. Sed fermentum semper nibh sit amet cursus.
                p.
                    Pellentesque in convallis metus. Sed semper sapien scelerisque scelerisque blandit. Duis consequat at tortor et viverra. Donec dignissim et tellus nec egestas. Praesent iaculis, ipsum ac luctus dapibus, velit magna pulvinar est, ut hendrerit metus orci nec mi. Sed arcu est, porta id sapien et, hendrerit fringilla risus. Ut gravida consectetur sapien, ut lobortis tortor varius id.
                p.
                    Pellentesque augue quam, pretium cursus molestie facilisis, hendrerit non felis. Nunc eu libero diam. Integer viverra vehicula vulputate. Pellentesque ut semper libero, nec rutrum lectus. Suspendisse euismod odio maximus, gravida eros quis, commodo sem. Praesent ac neque gravida, tincidunt quam eget, volutpat risus. Proin sit amet rhoncus neque. Nunc a nulla quis mi auctor tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis id purus id metus facilisis suscipit. Proin ornare velit quis erat maximus, quis facilisis ex tincidunt. In quis nibh vel libero lobortis elementum a et turpis. Etiam molestie diam vitae ante elementum pharetra. Morbi ac cursus purus.
            #second-section
            #third-section
        #footer
